@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #EEEEEE;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #EEEEEE;
    --foreground: #121212;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding-bottom: 5rem;
}

html {
  color-scheme: dark;
}

/* 
  ====
     Loader
  ====
*/

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}


/* 
  ====
     Hero
  ====
*/

header {
  height: calc(100vh + 5rem);
  position: relative;
  overflow: hidden;
}

.bgImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.4) 28.28%, #121212 100%),
              linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2));
}

.trees {
  position: absolute;
  fill: #121212;
  bottom: -6rem;
  left: 0;
  object-fit: cover;
  height: 32rem;
  min-width: 100vw;
}

header > .text {
  position: absolute;
  top: 24%;
  left: 6%;
  max-width: 78%;
}

header > .text > h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin-left: -0.197rem;
}

header h2 {
  font-weight: 300;
}

.rotating-text {
  display: inline-flex;
  margin: 0;
  vertical-align: top;

  .word {
    position: absolute;
    display: flex;
    opacity: 0;

    .letter {
      transform-origin: center center 25px;

      &.out {
        transform: rotateX(90deg);
        transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
      }
      &.in {
        transition: 0.38s ease;
      }
      &.behind {
        transform: rotateX(-90deg);
      }
    }
  }
}

.btns {
  display: flex;
  gap: 1rem;
  font-weight: 200;
  width: max-content;
  margin-top: 2rem;
}

.btns a {
  border: 1px solid white;
    padding-block: 0.6rem;
    text-align: center;
    width: 9.6rem;
    transition: all 0.5s ease-in-out;
}

.btns a:hover {
  background-color: #1d1d1dcf;
}

.socials {
  position: fixed;
  right: 5%;
  top: 28%;

  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  z-index: 100;
  align-items: flex-end;
}

.socials a {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}

.socials svg {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: contain;
    fill: #93938C;
    transition: fill 0.3s ease-in;
}

.socials svg:hover {
  fill: #E5E5DE;
}

.socials a > span {
  color: #E5E5DE;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.socials a:hover > span {
  display: block;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(60%, 0, 0) scale(0);
      -ms-transform: translate3d(60%, 0, 0) scale(0);
      transform: translate3d(60%, 0, 0) scale(0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      -ms-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
}
}

/* 
  ====
     Hero - Responsive
  ====
*/

header {
  overflow: hidden;
}

@media only screen and (max-width:550px) {
  .socials a:hover span {
    display: none;
  }
}

@media only screen and (max-width:500px) {
  header > .text {
    left: 0;
    padding-inline: 1.1rem;
    width: 100%;
    max-width: none;
    top: 28%;
  }

  header > .text > h1 {
    font-size: 2rem;
    margin-left: -0.05rem;
  }

  .text h2 {
    font-size: 1.4rem;
  }

  .socials {
    top: 0%;
    right: 0%;
    width: 100%;
    padding-top: 3vh;
    background-color: #121212;
    /* transform: translateX(50%); */
    flex-direction: row;
    box-shadow:
      0 3vh 3vh -2vh rgba(18, 18, 18, 1),
      0 4vh 4vh -1vh rgba(18, 18, 18, 0.66),
      0 5vh 5vh  0   rgba(18, 18, 18, 0.33),
      0 6vh 6vh  1vh rgba(18, 18, 18, 0);
  }
}

@media only screen and (max-width:375px) {
  .btns > a {
    width: 41vw;
  }
}

@media only screen and (max-width:300px) {
  .btns {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .btns > a {
    width: 70vw;
  }
}

/* 
  ====
     About
  ====
*/

.about {
  width: 100vw;
  padding-inline: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-weight: 300;
  font-size: 28px;
}

.about p {
  font-weight: 300;
  line-height: 170%;
  margin-top: 2rem;
  max-width: 55rem;
}

.about strong {
  color: #3498db;
}

@media only screen and (max-width:500px) {
  .about {
    margin-top: 4rem;
  }
}

/* 
  ====
     Skills
  ====
*/


@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

/* 
  ====
     Projects
  ====
*/

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  justify-content: center;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-inline: 4.5rem;
  max-width: 1600px;
  margin-top: 2.5rem;
  padding-bottom: 4rem;
}

.card {
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  max-width:320px;
  min-width: 280px;
  flex-grow: 1;
  flex-shrink: 1;
  
  aspect-ratio: 16/10;
  box-sizing: content-box;
  padding-bottom: 7.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  transition: all 0.5s ease-in;
  background-color: #151515;
}

.card:hover {
  .tech-stack {
    /* height: 0px; */
  }

  .project-details {
    /* transform: translateY(-90%); */
    height: 15rem;
  }


  .project-details p {
    -webkit-line-clamp: initial;
    overflow: auto;
    white-space: initial;
  }
}

.card > * {
  width: 100%;
  text-align: start;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16/10;
  object-fit: cover;
  align-self: center;
}

.project-details {
  position: absolute;
  bottom: 0;
  height: 6.8rem;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 0.6rem 0.8rem;
  background-color: #151515;
  padding-bottom: 1rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.project-details > .container {
  min-height: 9rem;
}

.project-details h6 {
  font-size: 1.3rem;
  font-weight: 300;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  color: #f1c40f;
}

.project-details p {
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.tech-stack {
  margin-top: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  padding-right: 1.2rem;
  justify-items: center;
  /* display: none; */
  transition: all 0.5s ease-in;
}

.links {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 16px;
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  gap: 2px;
}

.links svg {
  fill: #c8c8c8;
  /* box-shadow: 0px 0px 10px #1212124f; */
  border-radius: 50%;
}

.links svg:hover {
  fill: #e8e8e8;
}

@media only screen and (max-width:350px) {
  .tech-stack {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* 
  ====
     Experiences
  ====
*/

.experiences  h2 {
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 4rem;
}

.experience-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-inline: 5rem;
  width: 100%;
  font-weight: 300;
  max-width: 900px;
}

.top h6 {
  font-size: 1.4rem;
}

.midsection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #dedddd;
  font-style: italic;
}

.description {
  padding-left: 14px;
}

@media only screen and (max-width:600px) {
  .experience {
    padding-inline: 8%;
  }
}

/* 
  ====
     Contact Me
  ====
*/
@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.contact {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.contact h2 {
  text-align: center;
}

#contact-form {
  width: 98%;
  max-width: 600px;
  margin-top: 2rem;
}

#contact-form > div > textarea[name="message"] {
  height: 8rem;
  text-align: left;
}

/* 
  ====
     Random Fun Facts
  ====
*/

.rff h2 {
  text-align: center;
}

.facts-cont {
  width: 90%;
  max-width: 600px;
  padding: 1.5rem 3rem;
  line-height: 2.3rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.facts-cont > li > svg {
  display: inline;
}
